<!-- 
<div class="form-signup vw-100">
    <form class="text-center p-5" [formGroup]="signupForm">
        <img class="mb-4" src="../assets/images/FFF_logo.jpg" width="150px">
        <h1 class="h3 mb-2 fw-normal">Sign up with</h1>


        <button class="btn btn-light btn-height active shadow-sm" 
            style="background-color: white;">
            <img class="pe-2" src="assets/icons/icon-google.png" alt="GOOGLE">
            Google
        </button>

    
        <hr>
        <p>OR</p>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" placeholder="name@example.com">
            <label for="floatingName">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingEmail">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Password">
            <label for="floatingConfirmPassword">Confirm Password</label>
          </div>
    
        <div class="checkbox mb-3">
            <input class="form-check-input me-2" type="checkbox" id="terms-conditions" required/>
            <label class="form-check-label" for="form2Example3">
                I agree all statements in 
                <a href="#!">Terms of service</a>
            </label>
        </div>    

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; Fitness For Free</p>
    </form>
</div> -->
  
<div class="form-signup vw-100">
    <form class="text-center p-5" [formGroup]="signupForm" (submit)="onSubmit()">
      <img class="mb-4" src="../assets/images/FFF_logo.jpg" width="150px">
      <h1 class="h3 mb-2 fw-normal">Sign up with</h1>
  
      <button class="btn btn-light btn-height active shadow-sm" style="background-color: white;">
        <img class="pe-2" src="assets/icons/icon-google.png" alt="GOOGLE">
        Google
      </button>
  
      <hr>
      <p>OR</p>

      <!-- name control -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="name@example.com"
          formControlName="name">
        <label for="floatingName">Name</label>
        <div *ngIf="signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)"
          class="text-danger d-flex p-2">
            <div *ngIf="signupForm.get('name')?.hasError('required')">
            Name is required.
            </div>
        </div>
      </div>
      
      <!-- email control -->
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
          formControlName="email">
        <label for="floatingEmail">Email</label>
        <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)"
          class="text-danger d-flex p-2">
            <div *ngIf="signupForm.get('email')?.hasError('required')">Email is required.</div>
            <div *ngIf="signupForm.get('email')?.hasError('email')">Invalid email format.</div>
        </div>
      </div>
      
      <!-- password control -->
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
          formControlName="password">
        <label for="floatingPassword">Password</label>
        <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)"
          class="text-danger d-flex p-2">
            <div *ngIf="signupForm.get('password')?.hasError('required')">Password is required.</div>
        </div>
      </div>
  
      <!-- confirm password control -->
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Password"
          formControlName="confirmPassword">
        <label for="floatingConfirmPassword">Confirm Password</label>
        <div *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)"
          class="text-danger d-flex p-2">
          <div *ngIf="signupForm.get('confirmPassword')?.hasError('required')">Please confirm password.</div>
        </div>
      </div>
  
      <!-- checkbox control -->
      <div class="checkbox mb-3">
        <input class="form-check-input me-2" type="checkbox" id="terms-conditions" formControlName="agreeTerms" required />
        <label class="form-check-label" for="form2Example3">
          I agree to all statements in
          <a href="#!">Terms of service</a>
        </label>
        <div *ngIf="signupForm.get('agreeTerms')?.invalid && (signupForm.get('agreeTerms')?.dirty || signupForm.get('agreeTerms')?.touched)"
          class="text-danger">
          <div *ngIf="signupForm.get('agreeTerms')?.hasError('required')">You must agree to the Terms of Service.</div>
        </div>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="signupForm.invalid">Sign up</button>
      <p class="mt-5 mb-3 text-muted">&copy; Fitness For Free</p>
    </form>
</div>