<div class="container-xl vw-100 vh-100">
    <div class="bg-light mx-5 rounded p-3">
        <div class="d-flex align-items-center">
            <p class="flex-grow-1">Change password</p>
            <button class="btn btn-success"
            (click)="changePassword()">
                Change
            </button>
        </div>

        <hr>

        <div class="d-flex align-items-center">
            <p class="flex-grow-1">Update email</p>
            <button class="btn btn-success"
            (click)="updateEmail()">
                Update
            </button>
        </div>

        <hr>

        <div class="d-flex align-items-center ">
            <p class="flex-grow-1">Delete User</p>
            <button class="btn btn-danger"
            (click)="deleteUser()">
                Delete
            </button>
        </div>
    </div>
</div>