<section class="border-bottom vw-100 bg-dark mb-5" id="features">
    <button (click)="calculateDistance()">calculate</button>
    <div class="container-xl px-5 mb-5">
        <!-- <div class="input-group my-4">
            <input type="text" class="form-control" placeholder="Location">
            <button class="btn btn-success" type="button">Go!</button>
        </div> -->
        <h2 class="text-light me-3">Select your preferred location</h2>
        <google-map 
        height="500px" 
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="findLocations($event)">
            <!-- current location marker (RED) -->
            <map-marker 
            #curr="mapMarker"
            *ngFor="let p of selectedPositions"
            [position]="p.position"
            [options]="redMarkerOptions"
            (mapClick)="openInfo(curr, infoWindow)">
                <map-info-window #infoWindow="mapInfoWindow">
                    {{p.name}}
                    <br>
                    {{p.position.lat}}, {{p.position.lng}}
                </map-info-window>
            </map-marker>
            <!-- nearby location markers (GREEN) -->
            <map-marker 
            #markers="mapMarker"
            *ngFor="let m of markers"
            [position]="m.position"
            [options]="greenMarkerOptions"

            (mapClick)="openInfo(markers, infoWindow)">
                <map-info-window #infoWindow="mapInfoWindow">
                    {{m.name}}
                    <br>
                    {{m.position.lat}}, {{m.position.lng}}
                </map-info-window>
            </map-marker>
        </google-map>

        <div class="my-3 d-flex flex-row align-items-center">
            <div class="text-light">
                Zoom: {{ zoom }}
            </div>
            <div class="btn-group px-3" role="group">
                    <button class="btn btn-primary" (click)="zoomIn()">+</button>
                    <button class="btn btn-secondary" (click)="zoomOut()">-</button>
            </div>
        </div>
        <!-- Progress Bar -->
        <p><ngb-progressbar [showValue]="true" type="success" [value]="progressBarValue"></ngb-progressbar></p>
        <!-- router outlet for children routes -->
        <div style="margin-bottom: 100px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
