<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    
                    <h1 class="display-5 fw-bolder text-white mb-2">
                        Welcome to Fitness For Free!
                    </h1>
                    
                    <p class="lead text-white-50 mb-4">
                        Please select your FREE workout for today
                    </p>
                    
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <button class="btn btn-primary btn-lg px-4 me-sm-3 col-6" 
                            href="#features"
                            >
                            <!-- [routerLink]="['/locations', 'running']" -->
                                Running
                        </button>
                        <button class="btn btn-outline-light btn-lg px-4 col-6" 
                            href="#features"
                            >
                            <!-- [routerLink]="['/locations', 'static']" -->
                                Static
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- TODO: Fill in feature details -->
<section class="py-5 border-bottom bg-light" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0 px-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Find Facilities</h2>
                <p class="description">
                    Discover complimentary fitness amenities in your vicinity and engage in cost-free workouts!
                </p>
                <a class="text-decoration-none" href="#!">
                    Locations
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 px-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Schedule</h2>
                <p class="description">
                    Ensure you stay committed and never miss a workout by scheduling it on your Google Calendar today!
                </p>
                <a class="text-decoration-none" href="#!">
                    Planner
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 px-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Statistics</h2>
                <p class="description">
                    Track your fitness progress and stay motivated by regularly checking and reviewing your workout statistics.
                </p>
                <a class="text-decoration-none" href="#!">
                    Statistics
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

