
<div class="form-signup vw-100">
    <form class="text-center p-5">
        <img class="mb-4" src="../assets/images/FFF_logo.jpg" width="150px">
        <h1 class="h3 mb-2 fw-normal">Sign up with</h1>


        <button class="btn btn-light btn-height active shadow-sm" 
            style="background-color: white;">
            <img class="pe-2" src="assets/icons/icon-google.png" alt="GOOGLE">
            Google
        </button>

    
        <hr>
        <p>OR</p>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" placeholder="name@example.com">
            <label for="floatingName">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingEmail">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Password">
            <label for="floatingConfirmPassword">Confirm Password</label>
          </div>
    
        <div class="checkbox mb-3">
            <input class="form-check-input me-2" type="checkbox" id="terms-conditions" required/>
            <label class="form-check-label" for="form2Example3">
                I agree all statements in 
                <a href="#!">Terms of service</a>
            </label>
        </div>    

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; Fitness For Free</p>
    </form>
</div>
  