<div class="container">
    <h2 class="text-light me-3">Confirm your Workout</h2>

    <!-- print details (location) -->
    <div class="card mb-3">
        <div class="card-header">
            <h3>Workout Details</h3>
        </div>
        <div class="card-body">
            <div class="card p-3 mb-3">
                <h4>Location</h4>
                <div *ngFor="let m of markers" class="">
                    <p>
                        {{ m.name }}
                    </p>
                </div>
            </div>
            <div class="card p-3">
                <h4>Workout - Sets: {{sets}}</h4>
                <div *ngFor="let w of workouts" class="">
                    <p>
                        {{ w.name }} - {{ w.quantity }}
                    </p>
                </div>
            </div>
        </div>

    </div>

<!-- form -->

    <form class="card" [formGroup]="dateTimeForm" (submit)="submitWorkoutData()">
        <div class="card p-3 mb-3">
            <label>Date:</label>
            <input type="date" formControlName="date">
          
            <label>Time:</label>
            <input type="time" formControlName="time">
        </div>

        <!-- initiate submitSchedule() -->
        <div class="d-flex justify-content-end">
            <button 
            class="btn btn-success" 
            type="submit">
                Confirm
            </button>
        </div>
    </form>
</div>



