
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <div class="container-xl">
        <a [routerLink]="['/home']" class="navbar-brand">
            FitnessForFree
        </a>

        <!-- appears when screen changes to certain size -->
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span 
                class="navbar-toggler-icon">
            </span>
        </button>

        <div class="navbar-collapse collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <button class="nav-link btn btn-dark" 
                    aria-current="page" 
                    [routerLinkActive]="['active']" 
                    [routerLink]="['/home']">
                        Home
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link btn btn-dark" 
                    [routerLinkActive]="['active']" 
                    [routerLink]="['/planner']"
                    [disabled]="!isLoggedIn">
                        Planner
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link btn btn-dark" 
                    [routerLinkActive]="['active']" 
                    [routerLink]="['/workouts']">
                        Workouts
                    </button>
                </li>

                <li ngbDropdown>
                    <button class="nav-link dropdown-toggle btn btn-dark" 
                    ngbDropdownToggle
                    id="navbarDropdown" 
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [routerLinkActive]="['active']"
                    [routerLink]="['/statistics']"
                    [disabled]="!isLoggedIn">
                        Statistics
                    </button>
                    <!-- TODO: fix to match number of workouts -->
                    <ul ngbDropdownMenu 
                        aria-labelledby="navbarDropdown">
                        <li ngbDropdownItem>
                            <a class="dropdown-item" [routerLink]="['/statistics', 'week']">Week</a>
                        </li>
                        <li ngbDropdownItem>
                            <a class="dropdown-item" [routerLink]="['/statistics', 'month']">Month</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <button class="nav-link btn btn-dark" 
                    [routerLinkActive]="['active']" 
                    [routerLink]="['/contribute']">
                        Contribute
                    </button>
                </li>
            </ul>

            <div class="d-flex">
                <!-- check if logged in or not, hide if not logged in -->
                <ul class="navbar-nav" *ngIf="!isLoggedIn">
                    <li>
                        <button class="nav-link btn btn-dark"
                        [routerLink]="['/login']" 
                        [routerLinkActive]="['active']">
                            Log In
                        </button>
                    </li>
                    <li>
                        <button class="nav-link btn btn-dark" 
                        [routerLink]="['/signup']" 
                        [routerLinkActive]="['active']">
                            Sign Up
                    </button>
                    </li>
                </ul>
    
                <ul class="navbar-nav" *ngIf="isLoggedIn">
                    <li ngbDropdown class="nav-item">
                        <a class="nav-link" 
                            ngbDropdownToggle
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"
                            [routerLinkActive]="['active']">
                            <img class="px-2" src="./assets/images/user_default.png" height="35px" style="border-radius: 50%">
                            {{ currentUser.info.name }}
                        </a>
                        
                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <!-- TODO: update with profile page -->
                            <li>
                                <a class="dropdown-item" [routerLink]="['/user/profile']">
                                    My Profile
                                </a>
                            </li>
                            <!-- TODO: update settings with delete user function -->
                            <li>
                                <a class="dropdown-item" [routerLink]="['/user/settings']">
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="logOutUser()">
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</nav>