<div class="row d-flex bg-dark justify-content-center mt-3">
  <div class="container col-md-6 bg-light p-5 rounded">
      <div class="row text-center mb-2">
          <h2>Sign Up With</h2>
      </div>
  
      <div class="row text-center mb-4">
        <div class="col-md-6 text-left">
          <button class="btn btn-primary btn-height active shadow-sm" style="background-color: #3b5998;">
              <i class="pe-2">
                  <fa-icon [icon]="faFacebook"></fa-icon>                        
              </i>
              Facebook
          </button>
        </div>
        <div class="col-md-6 text-left">
          <button class="btn btn-light btn-height active shadow-sm" style="background-color: white;">
              <img class="pe-2" src="assets/icons/icon-google.png" alt="GOOGLE">
              Google
          </button>
        </div>
      </div>
  
      <form>
      <div class="form-group mb-4">
        <label for="fullname" class="mb-2">Full Name</label>
        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter your full name">
      </div>
      <div class="form-group mb-4">
        <label for="email" class="mb-2">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
      </div>
      <div class="form-group mb-4">
        <label for="password" class="mb-2">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
      </div>
      <div class="form-group mb-4">
        <label for="c_password" class="mb-2">Confirm Password</label>
        <input type="password" class="form-control" id="password" name="c_password" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
  
  </div>

</div>

