<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <a [routerLink]="['/home']" class="navbar-brand">FitnessForFree</a>
        </div>

        <!-- FOR SMALLER SCREENS  TODO: Explore scrollable screens-->
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/about']">About</a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/locations']">Locations</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        id="navbarDropdown" 
                        role="button" 
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        [routerLinkActive]="['active']">
                        Workouts
                    </a>
                    <!-- TODO: fix to match number of workouts -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/locations', 'running']">Running</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/locations', 'static']">Static</a></li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/contribute']">Contribute</a>
                </li>
            </ul>

            <!-- TODO: to check if logged in or not, hide if not logged in -->
            <ul class="navbar-nav d-flex">
                <li>
                    <a class="nav-link" [routerLink]="['/login']">Log In</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
                </li>
            </ul>

            <!-- TODO: Show if logged in -->
            <ul class="navbar-nav d-flex" *ngIf="false">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        id="navbarDropdown" 
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        [routerLinkActive]="['active']">
                        <img src="./assets/images/user_default.png" height="35px">
                    </a>
                    <!-- TODO: fix to match number of workouts -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" >My Profile</a></li>
                        <li><a class="dropdown-item" >Settings</a></li>
                        <li><a class="dropdown-item" >Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>