
<div class="container-xl pt-3 bg-dark px-5">
    <div class="d-lg-flex justify-content-between">
      <div>
        <img alt="logo" src="../assets/images/FFF_logo.jpg" width="30px" style="border-radius: 50%;"/>
      </div>
      <div class="copyright">
        <small class="ms-2 text-light">
            &copy; Fitness For Free, 2023. All rights reserved.
        </small>
      </div>
      <div>
        <ul class="d-flex gap-3 list-unstyled">
            <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
            <fa-icon [icon]="faInstagram" size="lg"></fa-icon>
            <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
        </ul>
      </div>
    </div>
</div>