
<div class="container-fluid">
    <div class="row">
        <div class="container-xl bg-light rounded">
          <div class="px-3 my-3">
            <h3>Sit Ups</h3>
            <div class="d-flex flex-row align-items-center">
              <img src="https://images-prod.healthline.com/hlcmsresource/images/topic_centers/Fitness-Exercise/400_400_8_Calisthenics_Exercises_for_Beginners_Crunches.gif" alt="sit up animation" class="rounded me-5 d-block">
              <p id="instructions" class="lh-lg">
                1. Lay on the ground with your back flat.<br>
                2. Place your feet flat on the ground, bending your knees up at a 90-degree angle to your body.<br>
                3. Cross your hands on top of your chest and keep your head about a fist's distance from your chest.<br>
                4. Keeping your core tight, sit up until your elbows or chest touch your knees.<br>
                5. Focus on using your core muscles to pull you up, breathing out as you sit up and breathing in as you lie down."
              </p>
            </div>
          </div>
          <div class="px-3 mb-3">
            <h3>Pull Ups</h3>
            <div class="d-flex flex-row">
              <img src="https://images-prod.healthline.com/hlcmsresource/images/topic_centers/Fitness-Exercise/400x400_8_Calisthenics_Exercises_for_Beginners_Pullup.gif" alt="pull up animation" class="rounded me-5 d-block">
              <p id="instructions" class="lh-lg">
                1. Stand facing an exercise bar.<br>
                2. Grasp the bar from the top with your arms slightly more than shoulder-width apart.<br>
                3. Use your shoulder muscles to pull you up, bringing your head up over the bar.<br>
              </p>
            </div>
          </div>
          <div class="px-3 mb-3">
            <h3>Push Ups</h3>
            <div class="d-flex flex-row">
              <img src="https://images-prod.healthline.com/hlcmsresource/images/topic_centers/Fitness-Exercise/400x400_8_Calisthenics_Pushups.gif" alt="push up animation" class="rounded me-5 d-block">
              <p id="instructions" class="lh-lg">
                1. Get on your knees and place your hands underneath, but slightly outside, your shoulders.<br>
                2. Extend your legs while holding your body up with your arms, getting into "plank" position.<br>
                3. Lower your body by bending your elbows close to your body until your chest almost touches the floor.<br>
                4. Your upper arms should form a 45-degree angle when the top part of your body is in the lower pushup position.<br>
                5. Keep your abdomen, or core, flexed during the entire movement.<br>
              </p>
            </div>
          </div>
          <div class="p-3 mb-3">
            <h3>Jump Squats</h3>
            <div class="d-flex flex-row">
              <img src="https://images-prod.healthline.com/hlcmsresource/images/topic_centers/Fitness-Exercise/400x400_8_Calisthenics_Exercises_for_Beginners_Squat_Jumps.gif" alt="jump squat animation" class="rounded me-5 d-block">
              <p id="instructions" class="lh-lg">
                1. Stand with your body facing forward and your feet parallel, directly underneath your shoulders.<br>
                2. Move your feet a few inches apart with your toes pointed slightly outward.<br>
                3. Lower yourself into the squat, lowering your hips back and down while bending your knees.<br>
                4. Keep your chest upright, with your head and face forward.<br>
                5. Get into as deep a squat as possible, and then explode forcefully upward into a jump.<br>
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>